body {
	background: #222;
	color: #383a3c;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
}

#logo {
	width: 300px;
}

/* Bulma OVERRIDES*/
.hero {
	background-color: transparent;
	color: white;
	height: 60vh;
}

.hero-content {
	margin-top: 20%;
}

.footer {
	background-color: transparent;
	color: white;
}

section {
	height: 100vh;
}

.section {
	background-color: transparent;
	color: white;
}

.title {
	color: white;
}

.subtitle strong, strong {
  color: white;
  font-weight: 900;
}

.notification {
  background: transparent;
  border-radius: 0px;
	color: white;
}
