body {
	background: #222;
	color: #383a3c;
	font-weight: 400;
	font-size: 1em;
	line-height: 1.25;
	font-family: 'Raleway', Calibri, Arial, sans-serif;
}

#logo {
	width: 300px;
}

#mm-canvas {
	position: absolute;
	z-index: 0;
}

/* Bulma OVERRIDES*/
nav {
	z-index: 10;
}

.hero {
	min-height: 65vh;
	background-color: transparent;
	color: white;
}

.hero-content {
	margin-top: 15%;
}

.section+.section {
  border-top: 1px solid #111;
}

.footer {
	background-color: transparent;
	color: white;
}

.section {
	min-height: 100vh;
	background-color: transparent;
	color: white;
}

.title {
	color: white;
}

.subtitle strong, strong {
  color: white;
  font-weight: 900;
}

.notification {
  background: transparent;
  border-radius: 0px;
	color: white;
}

a {
  color: #a1a1a1;
}

a:hover {
  color: white;
}

.button.is-primary {
  background: #a6a1ff;
}

.button.is-primary:hover {
  background: #837de2;
}

.button.is-primary.is-outlined {
  border-color: #a6a1ff;
	color: #a6a1ff;
}
.button.is-primary.is-outlined:hover {
	background-color: transparent;
  border-color: white;
	color: white;
}
