body {
	background: #19191A;
	color: #d7d7d7;
	font-size: 1.2em;
	letter-spacing: .02em;
}

h1.title {
	font-size: 3em;
	font-weight: lighter;
}

.title+.subtitle {
  margin-top: 5px;
}

#logo {
	width: 300px;
}

#mm-canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  pointer-events: none;
}

hr {
  border-top-color: #111;
}

/* Bulma OVERRIDES*/
nav {
	z-index: 10;
}

.hero {
	min-height: 55vh;
	background-color: transparent;
	color: #d7d7d7;
}

.hero-content {
	margin-top: 15%;
}

.section+.section {
  border-top: 1px solid #111;
}

.footer {
	background-color: transparent;
	color: #d7d7d7;
}

.section {
	min-height: 100vh;
	background-color: transparent;
	color: #d7d7d7;
}

.title {
	color: white;
}

.subtitle strong, strong {
  color: #B9B582;
  font-weight: 900;
}

.notification {
  background: transparent;
  border-radius: 0px;
	color: white;
}

.card {
  background: transparent;
	box-shadow: none;
	border: 1px solid #111;
}

a {
  color: #a1a1a1;
}

a:hover {
  color: white;
}

.button.is-primary {
  background-color: #a6a1ff;
}

.button.is-primary:hover {
  background-color: #837de2;
}

.button.is-primary.is-outlined {
  border-color: #a6a1ff;
	color: #a6a1ff;
	transition: .4s ease;
}
.button.is-primary.is-outlined:hover {
	color: black;
  border-color: white;
	background-color: white;
}

.tabs.is-toggle li.is-active a {
  background-color: #a6a1ff;
  border-color: #a6a1ff;
  color: #fff;
}

.image.is-250x250 {
  height: 250px;
  width: 250px;
}

.subtitle.is-4 {
	color: #a6a1ff;
}
