@import './settings/_variables.scss';

/* Bulma OVERRIDES*/

h1.title {
  font-size: 3.2em;
  font-weight: lighter;
}

.title + .subtitle {
  margin-top: 25px;
  margin-bottom: 65px;
}

hr {
  border-top-color: #111;
}

nav {
  z-index: 10;
}

.hero {
  min-height: 55vh;
  color: $text-over-dark;
  background-color: transparent;
}

.hero-content {
  margin-top: 15%;
}

.section + .section {
  border-top: 1px solid #111;
}

.footer {
  color: $text-over-dark;
  text-align: center;
  background-color: transparent;
}

.section {
  min-height: 100vh;
  color: $text-over-dark;
  text-align: justify;
  background-color: transparent;
}

.title {
  color: white;
}

.subtitle strong, strong {
  font-weight: 900;
  color: $secondary;
}

.notification {
  color: white;
  background: transparent;
  border-radius: 0;
}

.card {
  background: transparent;
  border: 1px solid #111;
  box-shadow: none;
}

.content {
  text-align: justify;
}

.card-content > .content > p {
  font-size: .7em;
  text-align: left;
}

a {
  color: #a1a1a1;
}

a:hover {
  color: white;
}

.button.is-primary {
  background-color: $primary;
}

.button.is-primary:hover {
  background-color: $primary-dark;
}

.button.is-primary.is-outlined {
  color: $primary;
  border-color: $primary;
  transition: .4s ease;
}
.button.is-primary.is-outlined:hover {
  color: black;
  background-color: white;
  border-color: white;
}

.tabs.is-toggle li.is-active a {
  color: #fff;
  background-color: $primary;
  border-color: $primary;
}

.image.is-250x250 {
  width: 250px;
  height: 250px;
}

.subtitle.is-4 {
  color: $primary;
}
