@import './libs/normalize.scss';
@import './../../node_modules/font-awesome/css/font-awesome.min.css';

@import './settings/_variables.scss';

body {
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
  DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
  /*space*/
  font-size: 1em;
  color: $text-over-dark;
  background: $bg-dark;
}

.nav-logo {
  height: 60px;
}

#mm-canvas {
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 0;
  width: 100%;
  pointer-events: none;
}

/*BULMA CUSTOMIZATION*/
@import './_overrides.scss';

.video-container {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.navbar {
  position: absolute;
  top: 40px;
  z-index: 100;
  width: 100%;
}
.navbar.fixed{
  position: fixed;
  top: -0px;
  z-index: 200;
  width: 100%;
  background-color: $bg-dark;
}
.nav-logo.fixed {
  width: 60px;
  height: 25px;
}

a:active {
  color: $violet;
}
