// COLOR
$primary: #a6a1ff;
// $primary: #1fc8db;
$secondary: #b9b582;

// MODS
$primary-dark: darken($primary, 10%);
$secondary-dark: darken($secondary, 10%);

// BASE
$text-over-dark: #d7d7d7;
$bg-dark: #19191a;
