body {
	background: #19191A;
	color: #d7d7d7;
	font-size: 1.2em;
	font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
